node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.dockerignore
.git
.gitignore
.gitlab-ci.yml
.ci
README.md
.env
.nyc_output
coverage
.vscode
.idea
*.log
dist
.DS_Store
docs
test
test-results
playwright-report
